<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p><%= @task.completed %></p>

<ul>
  <li><%= link_to "All tasks", tasks_path %></li>
  <li><%= link_to "Edit task", edit_task_path %></li>
  <li>
    <%= link_to "Delete task",
                task_path,
                method: :delete,
                data: { confirm: "Are you sure?" } %>
  </li>

</ul>